{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="black-background bg-changed1">
    <div class="my-container">
        <div class="my-container d-flex flex-row align-items-center flex-wrap justify-content-center">
            <div class="mb-2">
                <img src="{% static 'story7/photo_rounded.png' %}" class="img-fluid" alt="image">
            </div>
            <div class="col">
                <p>
                    Interest in photography, end up with studying Computer Science and I loved it.
                    Currently developing my skills on <b>Web Developing</b> and <b>UI/UX</b>
                </p>
            </div>
        </div>
        <br>
        <div class="col-9">
            <div id="accordion-main">
                <h3 class="b-white b-changed-accordion" style="border:none;" name="acc-1">Activity</h3>
                <div class="b-white b-changed-accordion" style="border:none;">
                    <p>Currently doing something big!</p>
                </div class="b-white b-changed-accordion" style="border:none;">
                <h3 class="b-white b-changed-accordion" style="border:none;">Experience</h3>
                <div class="b-white b-changed-accordion" style="border:none;">
                    <ul>
                        <li><b>Deputy</b> of Media Bureau, BEM Fasilkom UI 2019</li>
                        <li><b>Owner</b> of Lex Ares Gamestore</li>
                    </ul>
                </div>
                <h3 class="b-white b-changed-accordion" style="border:none;">Achievement</h3>
                <div class="b-white b-changed-accordion" style="border:none;">
                    <ul>
                        <li><b>Runner Up</b> of IESPA Geforece I-Cafe Series #3 - CSGO</li>
                        <li>Other coming <b>really soon</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block script %}
    <script src="{% static 'js/accordion.js' %}"></script>
    {% endblock %}
</div>
{% endblock %}