{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="black-background centering bg-changed1">
    <div class="container">
        <div>
            <h1>
                Halo, apa kabar?
            </h1>
        </div>
        <div>
            <form action="{% url 'story6:status' %}" method="POST">
                {% csrf_token %}
                {{ form.status_message }}
                <br>
                <br>
                <input type="submit" class="button b-green" value="Submit">
            </form>
        </div>
    </div>
</div>
<div class="white-background centering padding-top-3 bg-changed2">
    <div class="container">
        {% for status in all_status %}
        <div class="card w-100 b-black">
            <p class="small-font">{{ status.created_time }}</p>
            <h2 class="close-top">{{ status.status_message }}</h2>
        </div>
        <div class="spacing"></div>
        {% endfor %}
    </div>
</div>
{% endblock %}