html{
    font-size: 16px;
}

body{
    font-family: 'Poppins', sans-serif;;
}

body h1{
    font-weight: bolder;
    font-size: 2.5rem;
    padding: 0 0 4px 0;
}

body p{
    font-size: 1rem;
}

body a{
    font-size: 0.8rem;
}

.white-background{
    background-color: #FFFFFF;
    min-height: 100vh;
    max-width: 100vw;
    padding: 0 10px 0 10px;
    margin: 0;
}

.black-border{
    border: 2px #112233;
}

.black-background-btn{
    background-color: #112233;
    color: #E2E4E5;
}

.black-background{
    min-height: 100vh;
    max-width: 100vw;
    background-color: #112233;
    color: #E2E4E5;
    padding: 0 10px 0 10px;
    margin: 0;   
}
.spacing{
    margin: 30px;
}
.spacing-top-bottom{
    margin: 40px 0px;
}
body h2{
    font-size: 1.5rem;
    font-weight: 500;
}
.close-top{
    margin-top: -0.6rem;
}
.color-nav{
    background-color: #FFFFFF;
}

.small-font{
    font-size: 0.75rem;
    font-weight: 400;
}

.b-green {
    color: #E2E4E5 !important;
    background-color: #00B14F !important;
}
.b-white {
    color: #112233 !important;
    background-color: #ffffff !important;
}
.b-black {
    color: #E2E4E5 !important;
    background-color: #112233 !important;
}
.card {
    min-width: 240px;
    max-width: 900px;
    border: none;
    display: inline-block;
    padding: 24px 36px;
    /* cursor: pointer; */
    border-radius: 36px;
    box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.25);
}
.button {
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
    display: inline-block;
    padding: 8px 12px;
    margin-top: -12px;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.25);
}
#id_status_message {
    vertical-align: text-top;
    width: 300px;
    height: 200px;
}

.my-container{
    padding: 2rem;
}

.centering{
    display: flex;
    align-items: center;
    justify-content: center;
}

.padding-top-3{
    padding-top: 3rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width: 640px){
    html{
        font-size: 14px;
    }
    body h1{
        font-size: 2rem;
        padding: 0 0 4px 0;
    }
    
    body p{
        font-size: 0.8rem;
    }

    .resize{
        max-width: 50%;
    }

}