{% extends 'base.html' %}
{% load static %}

{% block title %}book search{% endblock %}

{% block content %}
<div class="my-container black-background bg-changed1">
    <h1>Mini Book Search</h1>
    <form class="src-form" action="#">
        <input type="text" placeholder="write here" id="user-input">
        <button type="submit" id="search-button"><i class="fa fa-search"></i></button>
    </form>
    <br>
    <table class="table table-bordered white-background">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Cover</th>
        </tr>
        </thead>
        <tbody class="white-background b-white" id='book-result'>
            
        </tbody>

    </table>

    {% block script %}
    <script src="{% static 'js/searchbook.js' %}"></script>
    {% endblock %}
</div>
{% endblock %}