<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}gf - story{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light b-white color-navbar sticky-top">
        <a class="navbar-brand ml-5" href="#">ryaasabsar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse small-font" id="navbarNav">
            <ul class="navbar-nav ml-auto mr-5">
                <div class="ml-4">
                    <label class="switch">
                        <input type="checkbox" id="theme-button">
                        <span class="slider round"></span>
                    </label>
                </div>
                {% with url_name=request.resolver_match.url_name %}
                <li class="nav-item {% if url_name == 'status' %} active{% endif %} ml-4">
                    <a class="nav-link" href="{% url 'story6:status' %}">Status<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ml-4 {% if url_name == 'story7_index' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'story7:story7_index' %}">Profile</a>
                </li>
                <li class="nav-item ml-4 {% if url_name == 'story8_index' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'story8:story8_index' %}">Book Search</a>
                </li>
                {% endwith %}
            </ul>
        </div>
    </nav>
    
    <!-- Content -->
    {% block content %}{% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    {% block script %}{% endblock %}
  </body>
</html>
